{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block content %}
    <h1>Log-In</h1>
    {% if form.errors %}
    <p>
        Your username and password didnt match.
        Please try again
    </p>
    {% else %}
     <p>Please, Login in below.If you don't have an
        account <a href="">register here</a></p></p>
     <div class="login-form">
        <form action="{% url 'login' %}" method="post"> 
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Log-in"></p>
        </form>

    </div>
    {% endif %}
    <p><a href="">Forgotten your password?</a></p>
   
{% endblock %}
