{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="div-with-p">
            <p>welcome {{ request.user.username}} your token is {{token}} </p>
        </div>
    {% else %}
        <div class="div-with-p">
            <p>you dont have a token, please login to get a token </p>
        </div>
    {% endif %}
    <h1>Thanks for checking out our api!!</h1>
    <article>
        Twenty20Disasters gives you complete access to famous quotes from
        people during the 2020 disaster(covid-19, EndSars protests), the authors and their images if any 
        <p>Please scroll down to view all our endpoints</p>
    </article>
    
    <div class="card-with-image">
        <img src="{{random_article.image.url}}" alt="Avatar" style="width:50%">
        <div class="container-with-image">
          <h4><b>{{random_article.author}}</b></h4>
          <p>{{random_article.quote}}</p>
          <b>{{random_article.categories}}</b>
        </div>
    </div>
    
    {% for field in  url %}
    <div class="card">
        <h3 class="url-card-title" style="text-align: center;color: #40A083;margin-bottom: 15px;">{{field.url_title}}</h3>
        <div class="card-child">
            <ul>
                <li><p><a href="{{field.url}}" style="text-transform: lowercase;">{{field.url_title}} = "{{field.url}}"</a></p></li>
            </ul>
        </div>
    </div>
    {% empty %}
    <div class="card">
        <h3 class="url-card-title">NO ENDPOINTS YET</h3>
    </div>
    {% endfor %}
{% endblock %}